* {
  margin: 0;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.div-content-wrapper {
  position: relative;
  z-index: 0;
  background: linear-gradient(to bottom, #FFFFFF 96%, #92C5E4 100%);
  background-repeat: no-repeat;
  background-position: bottom;
  padding-bottom: 140px;
}